.main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.drawing-board {
  border: 1px solid black;
  display: flex;
  padding: 30px;
  width: 50vw;
  height: 30vw;
}

.options-pane {
  border: 1px solid black;
  width: 30vw;
}

.shirt-svg {
  height: 100%;
  width: 33%;

  .main-path {
    stroke: black;
    stroke-width: 2px;
  }

  .secondary-path {
    stroke: black;
    stroke-width: 1px;
  }

  .third-path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
  }
}

.color-picker {
  &__matrix {
    width: 100%;
  }

  &__row {
    display: flex;
  }
}

.color-point {
  height: 5px;
  width: 5px;
}

.items-gallery {
  display: flex;

  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}