{{#each (get options "icons") as |icon index|}}
  {{#if (gallerycond index page (get options "itemsToDisplay")) }}
    <div class="items-gallery__item" style={{ galleryItemStyle }}>
      {{ sticky-icon icon=icon }}
    </div>
  {{/if}}
{{/each}}


<div class="items-gallery__nav">
  <button class="items-gallery__left" {{ action "leftClickHandler" on="click" }}></button>
  <button class="items-gallery__right" {{ action "rightClickHandler" on="click" }}></button>
</div>