.main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.drawing-board {
  border: 1px solid black;
  padding: 30px;
  width: 50vw;
  height: 30vw;
}

.options-pane {
  width: 30vw;
}

.shirt-svg {
  height: 100%;
  width: 100%;
}