<h1>Shirt Customizer</h1>

<div class="main-wrapper">
  {{ drawing-board color=color size=size shirtSvgs=model.[0] }}
  {{ options-pane optionChange=(action "optionChange") options=model.[1].options }}
</div>

{{ tool-tip visible=visible}}
